*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    width: 100vw;
}

body{
    min-height: 100vh;
    background: #372948;
    font-family: 'Roboto Mono', monospace;
}

